################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvcMovieCompare/MvcMovieCompare/obj
/MvcMovieCompare/MvcMovieCompare/bin/Debug/netcoreapp3.1
/MvcMovieCompare/.vs/MvcMovieCompare

/MovieApi/MovieApi/obj
/MovieApi/MovieApi/bin/Debug/netcoreapp3.1
/MovieApi/.vs/MovieApi
